@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

.inactive_tab{
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #ddd;
}

.active_tab{
    color: #16546d;
    border-bottom: 1px solid #16546d;
}

.active_btn{
    /* color: #FE7560; */
    /* color: #92DDDD; */
    color: #FE7560;
    border: 1px solid #FE7560;
    background-color: white;
}

.inactive_btn{
    color: #bbb;
    border: 1px solid #bbb;
    background-color: white;
}

.submit-btn{
    background-color: #FE7560
}